@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

body > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgb(194, 194, 194);
    font-size: 52px;
    font-weight: 700;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.message {
    font-size: 2rem;
    font-weight: 600;
}

.gameboard {
    display: grid;
    background-color: rgb(199, 199, 199);
    width: 50vh;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.field {
    background-color: rgb(235, 235, 235);
    border: none;
    font-size: 9vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-color {
    color: red;
}

.o-color {
    color: blue;
}

.footer {
    background-color: rgb(150, 150, 150);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px;
}