@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --playerX: #b91c1c;
    --playerO: #2563eb;
    --primary: #334155;
    --primary-hover: rgb(32, 42, 54);
    --secondary: #d1d5db;
    --text-primary: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

body > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--primary);
    font-size: 52px;
    font-weight: 700;
    padding: 20px;
    color: var(--text-primary);
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.player {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player > span {
    font-size: 8rem;
    color: gray;
}

.player > p {
    font-size: 2rem;
    font-weight: 600;
}

.message {
    font-size: 2rem;
    font-weight: 600;
    height: 2rem;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.gameboard {
    display: grid;
    background-color: var(--primary);
    width: 50vh;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.field {
    background-color: var(--secondary);
    border: none;
    font-size: 9vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field::before {
    opacity: 0%;
}

.x-color {
    color: var(--playerX) !important;
}

.o-color {
    color: var(--playerO) !important;
}

.reset {
    font-size: 2rem;
    border: none;
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: 15px;
    padding: 5px 30px;
    cursor: pointer;
}

.reset:hover {
    background-color: var(--primary-hover);
}

.footer {
    background-color: var(--primary);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-primary);
    padding: 15px;
}